<ol class="departures">
  <li class="departures-item bart--yellow">
    <div class="departures-item-train">
      <h3 class="departures-item-type">Bart</h3>
      <div class="departures-item-destination">
        <span class="departures-item-destination-icon">Arrow</span>
        <h1 class="departures-item-destination-text">Antioch</h1>
      </div>
      <h3 class="departures-item-station">Powell St.</h3>
    </div>
    <div class="departures-item-time">
      <span class="departures-item-time-label">Leave at</span>
      <h2 class="departures-item-time-display">5:25</h2>
    </div>
  </li>
  <li class="departures-item bart--yellow">
    <div class="departures-item-train">
      <h3 class="departures-item-type">Bart</h3>
      <div class="departures-item-destination">
        <span class="departures-item-destination-icon">Arrow</span>
        <h1 class="departures-item-destination-text">Antioch</h1>
      </div>
      <h3 class="departures-item-station">Powell St.</h3>
    </div>
    <div class="departures-item-time">
      <span class="departures-item-time-label">Leave at</span>
      <h2 class="departures-item-time-display">5:25</h2>
    </div>
  </li>
  <li class="departures-item bart--yellow">
    <div class="departures-item-train">
      <h3 class="departures-item-type">Bart</h3>
      <div class="departures-item-destination">
        <span class="departures-item-destination-icon">Arrow</span>
        <h1 class="departures-item-destination-text">Antioch</h1>
      </div>
      <h3 class="departures-item-station">Powell St.</h3>
    </div>
    <div class="departures-item-time">
      <span class="departures-item-time-label">Leave at</span>
      <h2 class="departures-item-time-display">5:25</h2>
    </div>
  </li>
</ol>
